

:root {
  color-scheme: dark;
  --bg: #cd825a; /*orange 205, 130, 90*/
  --accent-bg: #cd825a; /*orange 205, 130, 90*/
  --text: #dcdcdc;
  --text-light: #ababab;
  --border: #ffb300;
  --accent: #ffe099;
  --accent-hover: #ffe099;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}


