
body 
{ 
    font-family: 'Lucida Console', 'Monaco', 'Courier New'; 
}

.purple 
{ 
    background-color: #6d1cbf; 
    color: white; 
    padding: 5px;
    margin: 30px;
}

.remark-slide-content 
{
    /*
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    */
    background-image: url("pix/binary_background.png");
    background-color: #a09ee5;
}

.purple a
{
    color: white;
    text-decoration: none;
}

.cols {
display: flex;
}

.fifty {
flex: 50%;
}
